params {
  python = null
  source_json = "data/raw/brenda_2025_1.json"
  source_txt  = "data/raw/brenda_2025_1.txt"
  db_path     = "data/processed/brenda.db"
  model       = "gpt-oss:20b"
  enable_chatbot = false
  skip_ingest = true
}

process {
  executor = 'local'
  cpus = 4
  memory = '8 GB'
}
